@import "./../../../assets/stylesheet/global/variable";

.nsws-custom-tabs {
    .ant-tabs-tab {
        &:hover {
            color: unset;
        }
    }

    .ant-tabs-tab-btn {
        color: $themeColor;
        text-align: center;
        width: 100%;

        .tab-ellipsis {
            font-family: RobotoRegular, sans-serif;
            font-size: 20px;
        }
    }

    .ant-tabs-top > .ant-tabs-nav {
        margin-bottom: 0;

        &:before {
            border-bottom: 0;
        }
    }

    .ant-tabs-card > .ant-tabs-nav {
        .ant-tabs-tab {
            border: 1px solid #ddd;
            border-bottom: 0;
            border-radius: 4px 4px 0 0;
            height: 60px;
            padding: 0;

            .ant-tabs-tab-btn {
                margin: 0 20px;
            }
        }

        .ant-tabs-tab-active {
            background: $white;
            border: 0;
            position: relative;

            .ant-tabs-tab-btn {
                height: 100%;
                padding-top: 18px;
                padding-bottom: 10px;
                border-bottom: 2px solid $primary-color;
            }
        }
    }

    .ant-tabs-card.ant-tabs-top {
        > .ant-tabs-nav .ant-tabs-tab {
            &:not(:last-of-type) {
                margin-right: 5px;
            }
        }
    }

    .ant-tabs-tab.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
            color: $themeColor;
            font-family: RobotoBold, sans-serif;
        }
    }

    .ant-tabs-content-holder {
        background: $white;
        margin-bottom: 20px;
        padding: 30px 40px;
    }
}
