$black: #000;
$white: #fff;
$red: #f00;
$font-default-color: #293856;
$light-font: #898888;
$themeColor: #414141;
$lightGrey: #f7f7f7;
$primary-color: #eda105;
$primary-hover-color: #ffbe38;
$secondary-color: #5c967e;
$error-color: #fc6e6e;
